<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            {{#if (eq page_title "Library")}}
            <a class="navbar-brand" href="./">Logo</a>
            {{/if}}
            {{#if (or (eq page_title "Book Info") (eq page_title "Add Books Form"))}}
            <a class="navbar-brand" href="../">Logo</a>
            {{/if}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        {{#if (eq page_title "Library")}}
                        <a class="navbar-brand" href="./">Home</a>
                        {{/if}}
                        {{#if (or (eq page_title "Book Info") (eq page_title "Add Books Form"))}}
                        <a class="navbar-brand" href="../">Home</a>
                        {{/if}}
                    </li>
                    <li class="nav-item">
                        {{#if (or (eq page_title "Library") (eq page_title "Add Books Form"))}}
                        <a class="navbar-brand" href="./add_book">Add Books</a>
                        {{/if}}
                        {{#if (eq page_title "Book Info")}}
                        <a class="navbar-brand" href="../add_book">Add Books</a>
                        {{/if}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="./about_us">About</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>